<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-thumbnail"
    version="1.0.1">
    <name>Android ThumbnailGenerator</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo https://github.com/maruthi94/cordova.git></repo>
    <issue> https://github.com/maruthi94/cordova.git/issues</issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.ThumbnailGenerator yes-->
        <clobbers target="ThumbnailGenerator" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="ThumbnailGenerator">
          <param name="android-package" value="com.maruthi.ThumbnailGenerator" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/com/maruthi/ThumbnailGenerator.java" target-dir="src/com/maruthi/" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="ThumbnailGenerator" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="ThumbnailGenerator">
                <param name="ios-package" value="ThumbnailGenerator" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/ThumbnailGenerator.h" />
        <source-file src="src/ios/ThumbnailGenerator.m" />
    </platform>

    <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>
    
</plugin>
