<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="thumbnail-generator"
    version="1.0.0">
    <name>Android ThumbnailGenerator</name>
    <description></description>
    <license>MIT</license>
   
  <engines>
    <engine name="cordova-android" version=">=4.0.0" />
    <engine name="cordova-ios" version=">=3.5.0" />
  </engines>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.ThumbnailGenerator yes-->
        <clobbers target="ThumbnailGenerator" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="ThumbnailGenerator">
          <param name="android-package" value="com.maruthi.ThumbnailGenerator" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/com/maruthi/ThumbnailGenerator.java" target-dir="src/com/maruthi/" />
    </platform>

    <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>
    
</plugin>
